.navbar{
    background-color: rgb(84, 84, 84);
}
 .aa{
     width: 50;
     height: 50;
 }
img{
    border-radius: 0.75rem;
 }
 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
 }    